body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1cfcf;
}

header {
    display: flex;
    background-color:  #e1cfcf;
    color: black;
    padding: 10px 0;
    height: fit-content;
}
.logo{
    margin:20px auto 0 0;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
#Email{
    margin-left: 15px;
}

main {
    padding: 20px;
}

.search {
    background: rgb(239, 225, 198);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.results {
    background: rgb(229, 181, 93);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

footer {
    background-color:#e1cfcf;
    color: black;
    padding: 10px;
    text-align: center;
}
